h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 10%;
  font-size: 28px;
  text-align: center;
  color: #29235c;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.box {
  margin-left: 20px;
  margin-top: 50px;
  padding: 1px;
  border-radius: 5%;
  max-width: 400px;
  background-color: #29235c;
}

.box h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.box h3 {
  margin-left: 5%;
}

.img1 {
  position: relative;
}

.img1 img {
  margin-top: 18px;
}

.text {
  position: absolute;
  z-index: 10;
  top: 25px;
  left: 50px;
}

.box p {
  font-family: "Oswald", sans-serif;
}

.box2 p {
  font-family: "Oswald", sans-serif;
}

.box2 {
  margin-left: 20px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5%;
  max-width: 400px;
  background-color: #f15a25;
}

.box2 h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.box2 h3 {
  margin-left: 5%;
}

@media (max-width: 1120px) {
  .container {
    display: block;
  }

  h1 {
    padding: 15px;
    font-size: 20px;
  }
}
