@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  color: #29235c;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #29235c;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

section {
  display: grid;
}

.hidden {
  min-height: 100vh;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
}

.hidden2 {
  min-height: 100vh;
  filter: blur(15px);
  transform: translateX(100%);
  transition: all 2s;
  margin-top: 70px;
}

.hidden3 {
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 2s;
  margin-top: 70px;
  min-height: none;
}

.show {
  filter: blur(0px);
  transform: translateX(0);
  transition: all 2s;
}

.containerbox {
  display: flex;
}

.boxleft {
  margin-left: 10%;
}

.boxright {
  margin-left: 5%;
  margin-top: 12%;
}

.boxright h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #29235c;
}

.boxright h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #29235c;
}

.boxright h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 450;
  margin-top: 5%;
  font-size: 20px;
  color: #29235c;
}

.containerbox2 {
  display: flex;
  margin-top: 0;
}

.static h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 70px;
  font-size: 30px;
  text-align: center;
  color: #29235c;
}

.containerbox1 {
  display: flex;
}

.boxleft1 {
  margin-top: 50px;
  margin-left: 140px;
}

.boxright1 {
  margin-left: 100px;
  margin-top: 60px;
}

.boxright1 h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 450;
  margin-top: 0%;
  font-size: 20px;
  color: #29235c;
}

.boxright1 h2 {
  font-family: "Oswald", sans-serif;
  margin-top: 0%;
  font-size: 22px;
  color: #29235c;
}

.container {
  margin-top: 90px;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #29235c;
}

.boxleft2 {
  background-color: #29235c;
}

.boxleft2 h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 70px;
  margin-left: 100px;
  color: #fff;
}

.boxleft2 h3 {
  font-family: "Oswald", sans-serif;
  margin-top: 20px;
  margin-left: 100px;
  color: #fff;
}

.icon-contato {
  height: 25px;
  vertical-align: middle;
}

.icones {
  margin-top: 20px;
  margin-left: 100px;
}

.icone {
  padding: 10px;
}

.boxright2 {
  background-color: #29235c;
}

.boxright2 h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  margin-left: 800px;
  color: #fff;
}

.boxright2 h2 {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  margin-left: 730px;
  color: #fff;
}

.boxright2 button {
  height: 40px;
  width: 120px;
  margin-top: 50px;
  margin-left: 865px;
  border-radius: 10px;
}

.button a {
  text-decoration: none;
}
